.container-fluid {
    max-width: 970px;
}

.d-flex {
    width: 600px;
}

.cart-button {
    color: #198754;
    border: 1px solid #198754;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    background-color: transparent;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.cart-button:hover {
    color: #fff;
    background-color: #198754;
    border-color: #198754;
}

.goods-list {
    display: flex;
    justify-content: space-between;
    max-width: 970px;
    margin: 10px auto;
}

.goods-item {
    border: 1px solid #cfc9c9a6;
    width: 24%;
    display: flex;
    flex-direction: column;
}
.goods-item h3,
.goods-item p, 
.goods-item button {
    margin: 10px;
}


img {
    width: 100%;
}

.buy-button {
    align-self: center;
    width: 50%;
    background-color: #198754;
    color: #fff;
}
.buy-button:hover {
    color: #198754;
    background-color: #fff;
}

